{{#if countryRates}}
    <div class="wraptarifa_list">
      <div class="rates_title">
        <p class="pull-left text-left">Region</p>
        <p class="pull-right text-right">Price</p>
      </div>
      <div class="inner">
        <ul class="region_list">
          {{#each countryRates as |item| }}
            {{#if item.relChannel.amount}}
              <li class="col-md-12 col-sm-4 col-xs-6 item" data-amount="{{item.id}}">
                <p class="pull-left text-left">{{item.title}}</p>
                <p class="pull-right text-right">{{item.relChannel.amount}}</p>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
{{/if}}