<h1>My Account</h1>
<section class="profile-actions actions">
  <div id="account-profile" class="profile menu-block-link">
    <a href="{{href-to 'users.profile' uid}}" class="content">
      <strong class="pull-left hidden-xs">1</strong>
      <small></small>
      <h2>Profile</h2>
    </a>
  </div>
  <div id="account-payment" class="payment menu-block-link">
    <a href="{{href-to 'users.payment'}}" class="content">
      <strong class="pull-left hidden-xs">2</strong>
      <h2>Payment</h2>
    </a>
  </div>
  <div id="account-report" class="report menu-block-link">
    <a href="{{href-to 'users.report'}}" class="content">
      <strong class="pull-left hidden-xs">3</strong>
      <small></small>
      <h2>Report</h2>
    </a>
  </div>
</section>