<section class="topup confirmation">
  <h1>Confirmation</h1>
  <article class="wrapfrtopup">
      <p>
          Your transaction has been successful.
      </p>
  </article>
  <div class="wrap_btn_buy">
      <button class="btn_buy_minutes" onClick={{action 'goHome'}}>Go back to homepage</button>
  </div>
</section>