{{#login-register routerName }}{{/login-register}}
<div class="user-login">
      <!-- Login Content -->
      <section class="login_content" style="display:block;">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <img src="assets/images/mini_logo.jpg" alt="" class="center-block logomini">
                  {{user-account previousPath=previousPath }}
              </div>
              <div class="col-md-6 col-sm-6 with_networks">
                  <a href="#"><img src="assets/images/fb_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/tw_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/gp_login.jpg" alt="" class="center-block img-responsive"></a>
              </div>
          </div>
      </section>
</div><!--/container -->


